---
import Layout from '../layouts/BlogPost.astro';
import '../../styles/global.css';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/Frame 2.png"
>
<body>
	<h3 style="text-align:center;">wait For the future </h3>
</body>
</Layout>
